@media (max-width: 1100px) {

    .app-sidebar {
        width: 0;
        overflow: hidden;
    }

    .app-sidebar__user-avatar {
        width: 30px;
        height: 30px;
    }

    .app-sidebar__user,
    .app-menu {
        display: none;
    }


}